body {
  background-image: url('Images/Dipsous.jpg'); /* Pas dit aan naar jouw afbeelding */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
}

#desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.window {
  display: none;
  width: 60%;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.window.active {
  display: block;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center; /* Centreert de inhoud horizontaal */
  padding: 0 15px;
}

#start-menu {
  display: flex;
  gap: 10px;
}

#taskbar-right {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.taskbar-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.taskbar-btn img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.taskbar-btn:first-child img {
  border-radius: 0;
}

.taskbar-btn:not(:first-child) img {
  border-radius: 50%;
}

#bgPicker {
  margin-left: auto;
  margin-right: 10px;
}

#clock {
  color: white;
  font-size: 16px;
  font-family: 'Courier New', monospace;
  padding: 5px 10px;
  border-radius: 5px;
}
#bgPicker {
  visibility: hidden;
  pointer-events: none;
}

#system-tray {
  display: flex;
  align-items: center;
  gap: 8px;
}

.system-icon {
  width: 100px; /* pas de grootte aan naar wens */
  height: 200px;
  object-fit: contain;
}
