body 
{
  background-image: url('../Jpg/MapsTravelList.jpg');
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* ---------- Landen ---------- */
/* Info-knop */
#info-button {
  position: fixed;
  bottom: 638px;
  right: 1704px;
  background: #007bff;
  border: none;
  width: 70px;
  height: 70px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

#info-button img {
  width: 100%;
  height: auto;
  display: block;
}

#info-panel {
  position: fixed;
  top: 0;
  right: -700px;
  width: 700px;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

#info-panel.open { right: 0; }

#info-panel .close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
}

#info-panel img {
  width: 110%;
  height: auto;
  margin-bottom: 20px;
  margin-left: -30px;
}
#info-panel h2 { margin-top: 40px; font-size: 20px; }
.media-section img,
.media-section video { width: 100%; margin-bottom: 10px; }
.media-section p { font-size: 20px; line-height: 1.5; }

